$font-body: Inter, Arial, sans-serif;
$font-display: TT Supermolot Neue;
$font-display-exp: TT Supermolot Neue Exp;

// Base Typography mixin – used in component mixins
@mixin typography-token($font-family, $font-weight, $font-size, $font-height, $font-spacing, $font-align: null, $font-case: null, $font-decoration: null, $font-numerals: null) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $font-height;
    letter-spacing: $font-spacing;
    text-align: $font-align;
    text-transform: $font-case;
    text-decoration: $font-decoration;
    font-variant-numeric: $font-numerals;
}

@mixin badge-counter {
    // Counter Badge / number
    @include typography-token($font-body, 600, 0.625rem, 0.75rem, 0.25px)
}
@mixin button-player-menu-label {
    // Account button / wallet name label
    @include typography-token($font-body, 500, 0,625rem, 0.75rem, 0.25px, right)
}
@mixin button-player-menu-amount {
    // Account button / wallet amount
    @include typography-token($font-display, 600, 1rem, 1rem, 0.5px, right)
}
@mixin tooltip-label {
    // Default tooltip label
    @include typography-token($font-body, 600, 0.625rem, 0.75rem, 0.25px, center)
}
@mixin subheader-menu-item {
    // Subheader menu label
    @include typography-token($font-body, 500, 0.75rem, 1rem, 0.35px)
}
@mixin header-menu-item {
    // Header main product menu label
    @include typography-token($font-display, 600, 1rem, 1.5rem, 0.5px)
}
@mixin nav-product-menu {
    // Product menu label 
    @include typography-token($font-body, 500, 0.625rem, 0.75rem, 0.3px, center)
}
@mixin button-primary-compact {
    // Primary button label, compact size variant
    @include typography-token($font-display, 600, 1rem, 1.5rem, 0.5px)
}
@mixin button-secondary-compact {
    // Secondary button label, compact size variant
    @include typography-token($font-display, 600, 1rem, 1.5rem, 0.5px)
}