// Colors
$color-transparent-dark-1000: hsla(216, 35%, 15%, 0.52);
$color-transparent-dark-900: hsla(216, 35%, 15%, 0.45);
$color-transparent-dark-800: hsla(216, 35%, 15%, 0.37);
$color-transparent-dark-700: hsla(216, 35%, 15%, 0.3);
$color-transparent-dark-600: hsla(216, 35%, 15%, 0.25);
$color-transparent-dark-500: hsla(216, 35%, 15%, 0.22);
$color-transparent-dark-400: hsla(216, 35%, 15%, 0.18);
$color-transparent-dark-300: hsla(216, 35%, 15%, 0.15);
$color-transparent-dark-200: hsla(216, 35%, 15%, 0.12);
$color-transparent-dark-100: hsla(216, 35%, 15%, 0.08);
$color-transparent-dark-50: hsla(216, 35%, 15%, 0.05);
$color-transparent-light-1000: hsla(0, 0%, 100%, 0.55);
$color-transparent-light-900: hsla(0, 0%, 100%, 0.45);
$color-transparent-light-800: hsla(0, 0%, 100%, 0.37);
$color-transparent-light-700: hsla(0, 0%, 100%, 0.3);
$color-transparent-light-600: hsla(0, 0%, 100%, 0.25);
$color-transparent-light-500: hsla(0, 0%, 100%, 0.22);
$color-transparent-light-400: hsla(0, 0%, 100%, 0.18);
$color-transparent-light-300: hsla(0, 0%, 100%, 0.15);
$color-transparent-light-200: hsla(0, 0%, 100%, 0.12);
$color-transparent-light-100: hsla(0, 0%, 100%, 0.08);
$color-transparent-light-50: hsla(0, 0%, 100%, 0.05);
$color-orange-700: hsl(30, 100%, 39%);
$color-orange-600: hsl(33, 100%, 42%);
$color-orange-500: hsl(35, 100%, 45%);
$color-orange-400: hsl(37, 100%, 48%);
$color-orange-300: hsl(40, 100%, 50%);
$color-orange-200: hsl(42, 100%, 55%);
$color-orange-100: hsl(42, 100%, 65%);
$color-orange-50: hsl(42, 100%, 77%);
$color-azure-700: hsl(217, 44%, 28%);
$color-azure-600: hsl(217, 46%, 33%);
$color-azure-500: hsl(217, 47%, 37%);
$color-azure-400: hsl(217, 45%, 41%);
$color-azure-300: hsl(217, 35%, 51%);
$color-azure-200: hsl(217, 35%, 61%);
$color-azure-100: hsl(217, 35%, 68%);
$color-azure-50: hsl(217, 35%, 81%);
$color-red-700: hsl(10, 100%, 30%);
$color-red-600: hsl(11, 98%, 36%);
$color-red-500: hsl(11, 98%, 39%);
$color-red-400: hsl(11, 100%, 43%);
$color-red-300: hsl(11, 100%, 55%);
$color-red-200: hsl(8, 100%, 68%);
$color-red-100: hsl(5, 100%, 74%);
$color-red-50: hsl(5, 100%, 82%);
$color-green-700: hsl(135, 100%, 19%);
$color-green-600: hsl(135, 100%, 22%);
$color-green-500: hsl(135, 100%, 26%);
$color-green-400: hsl(135, 100%, 30%);
$color-green-300: hsl(135, 90%, 39%);
$color-green-200: hsl(138, 77%, 50%);
$color-green-100: hsl(138, 80%, 62%);
$color-green-50: hsl(138, 80%, 78%);
$color-blue-700: hsl(212, 100%, 32%);
$color-blue-600: hsl(212, 100%, 37%);
$color-blue-500: hsl(211, 100%, 40%);
$color-blue-400: hsl(210, 100%, 44%);
$color-blue-300: hsl(210, 100%, 54%);
$color-blue-200: hsl(210, 100%, 63%);
$color-blue-100: hsl(210, 100%, 70%);
$color-blue-50: hsl(210, 100%, 82%);
$color-neutral-1000: hsl(216, 35%, 15%);
$color-neutral-900: hsl(216, 29%, 22%);
$color-neutral-800: hsl(216, 27%, 27%);
$color-neutral-700: hsl(216, 27%, 31%);
$color-neutral-600: hsl(215, 27%, 35%);
$color-neutral-500: hsl(214, 25%, 39%);
$color-neutral-400: hsl(215, 31%, 88%);
$color-neutral-300: hsl(215, 33%, 90%);
$color-neutral-200: hsl(212, 41%, 92%);
$color-neutral-100: hsl(210, 54%, 95%);
$color-neutral-50: hsl(213, 60%, 97%);
$color-neutral-0: hsl(0, 0%, 100%);
$color-gradient-blue: linear-gradient(to-bottom, #004CA3 0%, #0058BD 100%);
$color-gradient-orange: linear-gradient(to-bottom, #FFAA00 0%, #F59700 100%);

// Breakpoints
$breakpoint-xl-min: 1440px;
$breakpoint-l-max: $breakpoint-xl-min - 1;
$breakpoint-l-min: 1240px;
$breakpoint-m-max: $breakpoint-l-min - 1;
$breakpoint-m-min: 1000px;
$breakpoint-s-max: $breakpoint-m-min - 1;
$breakpoint-s-min: 640px;
$breakpoint-xs-max: $breakpoint-s-min - 1;

// Radius
$radius-xs: 2px;
$radius-sm: 4px;
$radius-md: 6px;
$radius-lg: 8px;
$radius-xl: 12px;
$radius-xxl: 16px;
$radius-full: 999px;


// Elevation
$elevation-01: 0px 1px 6px -4px #0000001A;
$elevation-02: 0px 2px 8px -2px #0000001C;